@font-face{
    font-family: special_type; 
    src: url('../txt/zelda-type.otf');
}

.monster-container{
  margin-left: 30px;
}

.container1{
  position: relative;
  float: left;
  width: 40%;
  margin-bottom: 50px;
}

.container2{
  position: relative;
  float: right;
  width: 50%;
  margin-bottom: 50px;
}

.image {
  display: block;
  width: 400px;
  height: auto;
  border: 3px solid black;
}

.overlay {
  position: absolute;
  bottom: 50%;
  left: 0;
  right: 0;
  background-color: #00ba19;
  overflow: hidden;
  width: 400px;
  height: 0;
  transition: .5s ease;
}

.container1:hover .overlay {
  bottom: 0;
  height: 100%;
}

.container2:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  color: black;
  font-size: 23px;
  position: absolute;
  top: 50%;
  left: 40%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate( -50%, -50%);
  font-family: special_type;
}

@media only screen and (min-width:768px) and (max-width:1280px){
  .text{font-size: 15px;}
}

@media only screen and (min-width:480px) and (max-width:768px){
  .text{font-size: 11px;}
  .monster-container{margin-left: 60px;}
  .image{width: 300px;}
  .overlay{width: 300px;}
}

@media only screen and (max-width: 480px){
  .text{font-size: 5px;}
  .monster-container{display: block;}
}