body{cursor: url(../img/cursor.webp), auto;}
a{cursor: url(../img/cursor_hover.webp), auto;}

/*SCROLL BAR*/
/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-track-piece {
    background: #b98745;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ce5a16;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #a04a18;
}

/*MAIN STYLES*/
#borderimg{ 
    border: 10px solid transparent;
    padding: 15px;
    border-image: url(../img/mh_border.png) 25 stretch;
    border-image-width: 25px;
    box-shadow: 2px 2px;
}
#borderindeximg {
    border: 10px solid transparent;
    padding: 5px;
    border-image: url(../img/mh_border.png) 25 stretch;
    border-image-width: 25px;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 100px;
    right: 50px;
    z-index: 99;
    font-size: 30px;
    border: 2px solid white;
    outline: none;
    background-color: black;
    color: #cf4f05;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    font-family: MonsterHunter;
}

.menu_test{cursor: url(img/cursor_hover.webp)}
.letter_size{font-size: 25px;}
.logo{width: auto; height: 100px; padding-left: 15px;}
.intro_images{float: left; padding: 10px; border-radius: 8%; margin-right: 5px;}
.history{float: right; padding: 10px; height: auto; width: 350px; border-radius: 8%; margin-right: 5px;}
.explanation_1{margin-right: 20px;}
.explanation_2{margin-left: 20px;}
.video_container{height: 1000px;}
.responsive{padding: 0 6px; float: left; width: 13.222222%; margin-bottom: 5px; margin-right: 10px; margin-left: 5px;}

/*FOOTER*/
.last_part{width: 100%;}
.cell_footer{color: white; font-family: MonsterHunter; font-size: 18px; width: 100px;}
.cell_footer2{color: white; font-family: MonsterHunter; font-size: 18px; width: 100px;}
.end_information{margin-top: 50px; padding-right: 58px; background-color: black; margin-left: -40px; margin-right: -40px;}
.copyright{width: 20px; height: auto;}

@media only screen and (min-width:480px) and (max-width:768px){
    body{width: 90%;}
    .logo{height: 110px; width: auto; padding-top: 20px;}
    .container{margin-left: 10%;}
    .container_2{margin-left: 10%;}
    .last_part{width: 104%;}
    .cell_footer{width: 100px;}
    .cell_footer2{width: 200px;}
    .end_information{margin-left: 0px; margin-right: 0px; width: 113%;}
    #myBtn{font-size: 20px; bottom: 130px; opacity: 0.9;}
}

@media only screen and (max-width:480px){
    body{width: 80%;}
    .logo{height: 110px; width: auto; padding-top: 15px;}
    .container{margin-right: -13%; margin-left: 30px;}
    .container_2{margin-left: 8px; width: 120%;}
    .last_part{width: 113%;}
    .end_information{margin-left: 0px; margin-right: 0px; width: 125%;}
    .copyright{width: 20px;}
    #myBtn{font-size: 15px; bottom: 130px; opacity: 0.9; right: 30px;}
}