h4{
  font-family: MonsterHunter;
  font-size: 22px;
}

.TimeImg{
  width: auto;
  height: 300px;
  border-radius: 3%;
  border: 3px solid #421e09;
}

.TimeImg2{
  width: auto;
  height: 250px;
  border-radius: 3%;
  border: 3px solid #421e09;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  font-family: MonsterHunter;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #cf4f05;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: #cf4f05;
  border: 4px solid #cf4f05;
  top: 15px;
  border-radius: 50%;
  z-index: 0;
}

.left {
  left: 0;
}

.right {
  left: 50%;
}

.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 0;
  right: 30px;
  border: medium solid #502309;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #502309;
}

.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 0;
  left: 30px;
  border: medium solid #502309;
  border-width: 10px 10px 10px 0;
  border-color: transparent #502309 transparent transparent;
}

.right::after {
  left: -16px;
}

.content {
  padding: 20px 30px;
  background-color: #d47e4c;
  border: 3px solid #502309;
  position: relative;
  border-radius: 6px;
}

@media screen and (max-width: 768px){
  .timeline::after {left: 31px;}
  .container {width: 100%; padding-left: 70px; padding-right: 25px; }
  .container::before {left: 60px; border: medium solid #502309; border-width: 10px 10px 10px 0; border-color: transparent #502309 transparent transparent;}
  .left::after, .right::after {left: 15px;}
  .right {left: 0%;}
}

@media screen and (max-width: 480px){
  .content{width: 250px;}
  .TimeImg{width: 90%; height: auto;}
  .TimeImg2{width: 90%; height: auto;}
}